header img {
    width: 30vw;
}

header h3 {
    font-family: "Barlow", sans-serif;
    font-weight: 300;
    font-size: 80px;
    width: 50vw;
    margin: 0 auto;
}

.button {
    background-color: #FDC913;
    font-family: "Barlow", sans-serif;
    padding: 20px;
    width: 12vw;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    margin: 30px;
}